.aboutMe
  position: relative
  margin: 50px 100px 0
  padding: 50px 40% 25px 0
  header
    text-align: left
  
  // @media (max-width: 550px)
  //   padding-right: 100px
  //   min-width: 200px

  p
    text-align: justify

  img
    width: 30%
    right: 10%
    top: 20%
    max-width: 350px
    box-shadow: 0px 4px 25px 2px gray
    border-radius: 3px
    padding: 10px
    position: absolute
  
    @media (max-width: 550px)
      right: unset
      position: relative
      max-width: 100%
      min-width: 200px
      width: auto
      top: unset
    