@import colors


.contact
  background-color: $brightOrange
  color: black
  margin-left: 0
  margin-right: 0
  padding-top: 50px
  padding-bottom: 50px
  width: 100%

.contactList
  margin: auto
  max-width: max-content
  text-align: left
  // font-weight: bold

  li
    color: white
    padding: 15px