@import colors
  
body
  padding: 0
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  text-align: center

a 
  color: inherit
  text-decoration: none


* 
  box-sizing: border-box


.spacer10 
  display: inline-block
  margin-bottom: 10px 
.component 
  margin-top: 50px
  margin-bottom: 50px
  margin-left: 50px
  margin-right: 50px
  padding-top: 50px
  padding-bottom: 50px
  padding-left: 0px
  padding-right: 0px

.header 
  text-align: left
  padding-left: 50px
  padding-right: 20px
  overflow-x: hidden
  

button 
  border: none
  background-color: gainsboro
  color: blue

.listWrapper 
  display: flex

.hideHorizontalScroll
  overflow-x: hidden

.experienceEntry 
  padding: 20px
  // text-align: center
  width: 100%
  ul 
    padding: 10px 20px 10px 10px
  

.dateLocation 
  display: flex
  flexDirection: row
  justifyContent: space-between
  fontSize: 15px
  marginLeft: 10%
  marginRight: 10%

.indent 
  marginLeft: 1em

.disabled 
  opacity: 0.5
  cursor: not-allowed

.textRight 
  textAlign: right

.hideHorizontalScroll 
  overflowX: hidden

.clearfix::after
  content: ""
  clear: both
  display: table