@import colors

.projects
  padding-top: 50px
  margin-left: 10px
  margin-right: 10px
.projectsSection
  white-space: nowrap
  margin: 50px
  display: flex
  justify-content: space-between
.projectViewWindow
  height: 601px
  position: relative
  overflow: hidden
  width: 75vw
.navButtons
  background: none
  border: none
  cursor: pointer
  img:
    width: 40